@model TomarForumUI.ViewModels.PostViewModels.PostIndexViewModel

<div class="container body-content">
    <div class="row post-header">
        <div class="post-heading">
            <span class="post-index-title">
                @Model.Title
            </span>
            <span id="btn-heading">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">@Model.ForumTitle</a>
            </span>
        </div>
    </div>
</div>
<h1>@Model.Title</h1>

<div>
    Author: @Model.AuthorName (@Model.AuthorRating)
    Created: @Model.DateCreated
</div>
<div>
    @Model.PostContent
</div>

@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div>
            <div>
                Reply Author: @reply.AuthorName
                Reply Created: @reply.DateCreated
            </div>
            <div>
                Reply: @reply.ReplyContent @*Fix the naming*@
            </div>
        </div>
    }
}