@model TomarForumViewModel.HomeViewModels.HomeIndexViewModel

<div class="container body-content">
    <div class="div-home-slideshow">
        @await Component.InvokeAsync("HomeSlideShow")
    </div>
    <div class="row div-body-middle">
            <div class="col-md-6 div-home-search">
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="input-search" placeholder="Search..." />
                </form>
            </div>
    </div>
    <div class="div-content-front">
        <h3 id="latest-posts">Latest Posts</h3>
        <table class="table table-hover" id="tbl-latest-posts">
            <tbody>
                @foreach (var post in Model.LatestPosts)
                {
                    <tr>
                        <td>
                            <div class="div-forum-logo" style="background-image: url(@post.Forum.ImageUrl);"></div>
                            <div class="div-post-title">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                            </div>
                            <div class="div-post-subtitle"> <!--IMPROVE THE IF STATEMENTS BELOW!!!-->
                                @if (post.ReplyAmount==1)
                                {
                                    <span>@post.ReplyAmount Reply</span>
                                }
                                @if (post.ReplyAmount==0)
                                {
                                    <span>No Replies</span>
                                }
                                else
                                {
                                    <span>@post.ReplyAmount Replies</span>
                                }
                                <span class="post-user"><a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName</a></span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>